= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload'

%h1
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login' }) do |f|

  .h2 
    = t('application.log_in') 

  .form-group
    = f.label :email, class: "form-label required"
  .div.w-25
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

  .form-group
    = f.label :password, class: "form-label required"
  .div.w-25
    = f.password_field :password, autocomplete: "current-password", class: "form-control"
  - if devise_mapping.rememberable?
    .form-group
      = f.check_box :remember_me, class: "form-check-input"
      = f.label :remember_me , class: "form-check-label"
  .actions
  .row.mt-4
    .col-3
      = button_tag t('devise.buttons.log_in'), type: "submit", class: "btn btn-danger btn-block btn-submit"
    .offset-5.col-3
      = render "users/shared/links"
