= stylesheet_link_tag 'clients/index', media: 'all', 'data-turbolinks-track': 'reload'

%p{:style => "color: green"}= notice
.div.m-4
  .page.header
    %h1.mb-4
      = t('application.list_of', model: t('activerecord.modules.client.other'))

%table.table.table-striped
  %thread
    %tr
      %th= t('activerecord.attributes.client.first_name')
      %th= t('activerecord.attributes.client.last_name')
      %th= t('activerecord.attributes.client.user_name')
      %th= t('activerecord.attributes.client.password')
      %th= t('activerecord.attributes.client.email')
      %th= t('activerecord.attributes.client.address')
      %th= t('activerecord.attributes.client.lock')
      %th
      %th
  %tbody
    - @manage_clients.sort_by { |client| client.id }.each do |client|
      %tr
        %td= client.first_name
        %td= client.last_name
        %td= client.user_name
        %td= client.password
        %td= client.email
        %td= client.address
        %td= button_to client.locked? ? t('activerecord.attributes.client.locked.blocked') : t('activerecord.attributes.client.locked.unblocked'), manage_client_path(client), method: :put, class: "btn btn-danger"
        





