%p{:style => "color: green"}= notice
.div.m-4
  .page.header
    %h1.mb-4
      = t('application.list_of', model: t('activerecord.modules.manage_user.other'))
    .float-end.pb-4
      = link_to t('application.create'), new_manage_user_path, class: "btn btn-primary" 

%table.table.table-striped
  %thread
    %tr
      %th= t('activerecord.attributes.user.name')
      %th= t('activerecord.attributes.user.role')
      %th= t('activerecord.attributes.user.email')
      %th
      %th
      %th
  %tbody
    - @manage_users.each do |user|
      %tr
        %td= user.name
        %td= t("activerecord.attributes.user.roles.#{user.role}")
        %td= user.email
        %td= link_to t('application.show'), user, class: "btn btn-info"
        %th= link_to t('application.edit'), edit_manage_user_path(user), class: "btn btn-success"
        %th= button_to t('application.delete'), user, method: :delete, class: "btn btn-danger"