= stylesheet_link_tag 'dishes/show', media: 'all', 'data-turbolinks-track': 'reload'
%p#notice= notice

.div.m-4
    .card
        .card-body
            %h5.card-title
                = t('activerecord.attributes.manage_user.name')
            %p.card-text= @manage_user.name

            %h5.card-title
                = t('activerecord.attributes.manage_user.role')
            %p.card-text= t("activerecord.attributes.user.roles.#{@manage_user.role}")

            %h5.card-title
                = t('activerecord.attributes.manage_user.email')
            %p.card-text= @manage_user.email
 
.row.mt-4
    .offset-3.col-3
        = link_to t('application.back'), manage_users_path, class: "btn btn-secondary"
    .col-3
        = link_to t('application.edit'), edit_manage_dish_path(@manage_user), class: "btn btn-success"

