= stylesheet_link_tag 'dishes/form', media: 'all', 'data-turbolinks-track': 'reload'

= form_for @manage_dish, validate: true do |f|
  - if @manage_dish.errors.any?
    .card.mx-4
      .card-body
        %div{style: 'color: red'}
          %h2
            = t('application.can_not_be_saved')
          %ul
            - @manage_dish.errors.full_messages.each do |message|
              %li= message

  .form-group.mx-4
    = f.label :name, class: "form-label required"
  .div.w-25
    = f.text_field :name, autofocus: true, class: "form-control"
    
  .form-group.mx-4
    = f.label :description, class: "form-label required"
  .div.w-25
    = f.text_area :description, autofocus: true, class: "form-control"

  .form-group.mx-4
    = f.label :price, class: "form-label required"
  .div.w-25
    = f.text_field :price, autofocus: true, class: "form-control"

  .form-group.mx-4
    = f.label :photo, class: "form-label required"
  .div.w-25
    = f.file_field :photo, accept: 'image/*', class: "form-control"
    = image_tag @manage_dish.photo, width: 80 if @manage_dish.photo.present? 

  .form-group.mx-4
    = f.label :available, class: "form-label required"
  .div.w-25
    = f.select(:available, options_for_select(availables, @manage_dish.available), {prompt: t('application.select')}, class: "form-control")
    
  .row.mt-4
    .col-3
      = link_to t('application.back'), manage_dishes_path, class: "btn  btn-secondary btn-block"
    .col-3
      = button_tag t('application.save'), class: "btn btn-primary btn-block"
