= form_for @order, validate: true do |f|
  - if @order.errors.any?
    .card.mx-4
      .card-body
        %div{style: 'color: red'}
          %h2
            = t('application.can_not_be_saved')
        %ul
          - @order.errors.full_messages.each do |message|
            %li= message

  .field
    = f.label :date
    = f.date_field :date
  .field
    = f.label :status
    = f.check_box :status
  .actions
    = f.submit 'Save'
