%p#notice= notice

.div.m-4
    .card
        .card-body
            %h5.card-title
                = t('activerecord.attributes.dish.name')
            %p.card-text= @dish.name

            %h5.card-title
                = t('activerecord.attributes.dish.description')
            %p.card-text= @dish.description

            %h5.card-title
                = t('activerecord.attributes.dish.price')
            %p.card-text= @dish.price

            %h5.card-title
                = t('activerecord.attributes.dish.photo')
            %p.card-text= image_tag @dish.photo, width: 100

            %h5.card-title
                = t('activerecord.attributes.dish.available')
            %p.card-text= t("activerecord.attributes.dish.availables.#{@dish.available}")
            
.row.mt-4
    .offset-3.col-3
        = link_to t('application.back'), dishes_path, class: "btn btn-secondary"
    .col-3
        = link_to t('application.edit'), edit_dish_path(@dish), class: "btn btn-success"