= stylesheet_link_tag 'password', media: 'all', 'data-turbolinks-track': 'reload'

%h1
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'password' }) do |f|
  = render "users/shared/error_messages", resource: resource

  .h2 
    = t('devise.form.forgot_password') 

  .form-group
    = f.label :email, class: "form-label required"
  .div.w-25
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
  %br
  .actions
  
    = f.submit t('devise.buttons.reset_password'), class: "btn btn-danger btn-block"

    = render "users/shared/links"
