= stylesheet_link_tag 'sidebar', media: 'all', 'data-turbolinks-track': 'reload'

.container-fluid
  .row
    .col-xl-2.px-sm-2{ class: 'Sidebar'}
      .flex-column.align-items-sm-start.px-3.pt-2{ class: 'Sidebar-content'}
        %ul.nav.flex-column
          %div.d-sm-inline{class: 'Menu'} Menu
          .li{class: 'Content-col'}
            = link_to t('activerecord.modules.order.other'), manage_orders_path, class: 'Content'
          .li{class: 'Content-col'}
            = link_to t('activerecord.modules.dish.other'),  manage_dishes_path, class: 'Content'
          .li{class: 'Content-col'}
            = link_to t('activerecord.modules.client.other'), manage_clients_path, class: 'Content'
          .li{class: 'Content-col'}
            = link_to t('activerecord.modules.user.other'), manage_users_path, class: 'Content'
        
    .col.py-3#content
      = yield
